In [2]:
#The objective of this project is to analize the dataset of used cars from eBay Kleinanzeigen.

import pandas as pd
import numpy as np
autos = pd.read_csv('autos.csv',encoding = 'Latin-1')

In [4]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [5]:
#I have notice that the name of the vehicle is not consistant.
#Some columes have Nah value. For example, vehicle type, model.

In [6]:
autos.columns=['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']
autos.head()
#I have changed all letter to lower case so that I dont need to worry about it in the future.
#Changed camelcase to snakecase for easy reading

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [7]:
autos.describe(include="all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-08 10:40:35,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [8]:
#Seller and offer_type are mostly one value as privat and Angebot
#The price colume, I see that $0 is the majority. I think there is something I need to do about it. For registration_year, the min and max value are not realistic. The power_ps colume has unrealistic number on the max value. We can conver odometer colume to float for calculation. nr_of_pirctures cant be anaylize by .describe. 
#data_crawled, last_seen, price and odometer should be convert to numeric data.

In [9]:
autos['price']= autos["price"].str.replace('$','').str.replace(',','').astype(float)
autos['odometer']= autos['odometer'].str.replace('km','').str.replace(',','').astype(float)

In [10]:
autos.rename(columns={'odometer':'odometer_km'},inplace=True)

In [11]:
autos['odometer_km'].unique().shape

(13,)

In [12]:
autos['odometer_km'].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [13]:
autos['odometer_km'].value_counts()

150000.0    32424
125000.0     5170
100000.0     2169
90000.0      1757
80000.0      1436
70000.0      1230
60000.0      1164
50000.0      1027
5000.0        967
40000.0       819
30000.0       789
20000.0       784
10000.0       264
Name: odometer_km, dtype: int64

In [14]:
#The values for odometer_km all looked reasonalble. Maximum value and minimum value are all in acceptable range.

In [15]:
autos['price'].unique().shape

(2357,)

In [16]:
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [17]:
autos['price'].value_counts().sort_index(ascending=False).head()

99999999.0    1
27322222.0    1
12345678.0    3
11111111.0    2
10000000.0    1
Name: price, dtype: int64

In [18]:
minimum = 100
maximum = 200000
autos['price'] = autos.loc[(autos["price"].between(minimum,maximum)),"price"]
autos['price'].value_counts().sort_index(ascending=False).head()

198000.0    1
197000.0    1
194000.0    1
190000.0    1
180000.0    1
Name: price, dtype: int64

In [19]:
#Some maximum and minimum values for price columum is beyound reasonable.
#For example, some of the price is 999999. I removed these values.
#Pytheon replaced these value with Nah

In [23]:
autos['date_crawled'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=False).head(10)

2016-04-07    0.00142
2016-04-06    0.00318
2016-04-05    0.01310
2016-04-04    0.03652
2016-04-03    0.03868
2016-04-02    0.03540
2016-04-01    0.03380
2016-03-31    0.03192
2016-03-30    0.03362
2016-03-29    0.03418
Name: date_crawled, dtype: float64

In [21]:
#The percentage distribution in date_crawled colume is fairly same.

In [24]:
autos['ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=False).head(10)

2016-04-07    0.00128
2016-04-06    0.00326
2016-04-05    0.01184
2016-04-04    0.03688
2016-04-03    0.03892
2016-04-02    0.03508
2016-04-01    0.03380
2016-03-31    0.03192
2016-03-30    0.03344
2016-03-29    0.03414
Name: ad_created, dtype: float64

In [25]:
#The data distribution in ad_created colume is more polarized
#Less percetage of ad created before 2016 March

In [26]:
autos['last_seen'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=False).head(10)

2016-04-07    0.13092
2016-04-06    0.22100
2016-04-05    0.12428
2016-04-04    0.02462
2016-04-03    0.02536
2016-04-02    0.02490
2016-04-01    0.02310
2016-03-31    0.02384
2016-03-30    0.02484
2016-03-29    0.02234
Name: last_seen, dtype: float64

In [27]:
autos['registration_year'].value_counts(normalize=True, dropna=False).sort_index(ascending=False).head(10)

9999    0.00008
9996    0.00002
9000    0.00004
8888    0.00002
6200    0.00002
5911    0.00002
5000    0.00008
4800    0.00002
4500    0.00002
4100    0.00002
Name: registration_year, dtype: float64

In [32]:
#There are some unreasonable values in the registration year. For example: year 1000 and year 9999
#I need to fix these value

In [33]:
ry_max = 2016
ry_min = 1900
#1900 is the year when automotive started to become personal vichle, and 2016 is the date of the data which cant be exceed.

In [34]:
autos['registration_year']=autos.loc[(autos['registration_year']).between(ry_min,ry_max),'registration_year']

In [35]:
autos['registration_year'].value_counts(normalize=True).head(10)

2000.0    0.069834
2005.0    0.062776
1999.0    0.062464
2004.0    0.056988
2003.0    0.056779
2006.0    0.056384
2001.0    0.056280
2002.0    0.052740
1998.0    0.051074
2007.0    0.047972
Name: registration_year, dtype: float64

In [36]:
#The data looks so much cleaner and more reasonable.

In [37]:
top_brand = autos['brand'].value_counts(normalize=True)>0.05
brand_name = top_brand.index[:6]
brand_mean_dic ={}
for name in brand_name:
    price_mean = autos.loc[autos['brand']==name,'price'].mean()
    brand_mean_dic[name] = round(price_mean)
brand_mean_dic

{'audi': 9260.0,
 'bmw': 8216.0,
 'ford': 3757.0,
 'mercedes_benz': 8580.0,
 'opel': 2975.0,
 'volkswagen': 5366.0}

In [38]:
#I decided to aggregate on Audi, because I like audi and also it is one of the most popular brand.
#I can aggreate in the odometer and avarage price of this brand
brand_odo_mean = {}
for name in brand_name:
    odo_mean = autos.loc[autos['brand']==name,'odometer_km'].mean()
    brand_odo_mean[name] = round(odo_mean)
brand_odo_mean

{'audi': 129644.0,
 'bmw': 132522.0,
 'ford': 124132.0,
 'mercedes_benz': 130886.0,
 'opel': 129299.0,
 'volkswagen': 128955.0}

In [39]:
bmp_s = pd.Series(brand_mean_dic)
bom_s = pd.Series(brand_odo_mean)

df = pd.DataFrame([bmp_s,bom_s],['mean price','mean mil'])
print(df)

                audi       bmw      ford  mercedes_benz      opel  volkswagen
mean price    9260.0    8216.0    3757.0         8580.0    2975.0      5366.0
mean mil    129644.0  132522.0  124132.0       130886.0  129299.0    128955.0

In [30]:
#The mean mileage does not affect the price of the car. In fact I do not think they are correlate in this analysis.